{% extends 'bookcase_app/base.html' %}

{% block content %}
{% if form.errors %}
<p>Username and password didn't match! Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>This user does not have access.</p>
    {% else %}
        <p>Please login first.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</div>

<div>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</div>

<div>
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}">
</div>
</form>

<p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>

{% endblock %}