{% load static %}

<!DOCTYPE html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "bookcase_app/style.css" %}" rel="stylesheet">
</head>

<body>
    <div id="header">
    <span class="logo">Library</span>

    <ul class="menu">
        <li {% if section == "All Books" %}class="selected"{% endif %}>
         <a href="#">All Books</a>
        </li>
        <li {% if section == "Availables" %}class="selected"{% endif %}>
            <a href="#">Availables</a>
        </li>
        <li><a href="/admin/">Admin</a></li>
    </ul>
    </div>

    <br>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

   

</body>
</html>




