{% load static %}

<!DOCTYPE html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "bookcase_app/style.css" %}" rel="stylesheet">
</head>
<div style="background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.reganagency.com%2Flibrary-insurance%2Fny-library-insurance-program%2F&psig=AOvVaw1GiqCS8rVuuwLRieSD1jIe&ust=1600884688640000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDz-Leu_esCFQAAAAAdAAAAABAD');">
<body>
     
    <div id="header">
    <span class="logo">Library</span>

    <ul class="menu">
        <li {% if section == "All Books" %}class="selected"{% endif %}>
         <a href="{% url 'bookcase_app:book_list' %}">All Books</a>
        </li>
        <li {% if section == "Availables" %}class="selected"{% endif %}>
            <a href="#">Availables</a>
        </li>
        <li {% if section == "All Authors" %}class="selected"{% endif %}>
            <a href="{% url 'bookcase_app:author_list' %}">All Authors</a>
        </li>
        <li {% if section == "Admin" %}class="selected"{% endif %}>
            <a href="/admin/">Admin</a>
        </li>    
        {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></a></li>
            <li><a href="{% url 'bookcase_app:mybooks' %}">My Books</a></li>
        {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></a></li>
        {% endif %}
        
    </ul>
    </div>

    <br>
    <div id="content" style="background: #4f8466;">
        {% block content %}
        {% endblock %}
    </div>
</div>

   

</body>
</html>




